.info-btn {
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 50px;
  box-sizing: content-box;
  display: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  cursor: pointer;
}

.info-btn:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.info-btn:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #ba1f24;
  border-radius: 50%;
  transition: all 200ms;
}

.info-btn:hover {
  text-decoration: none;
}

.info-btn .i {
  font-size: 42px;
  color: white;
  display: block;
  position: relative;
  z-index: 3;
}

.info-btn .i:hover {
  font-size: 44px;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.4);
    opacity: 0;
  }
}

.tooltiptext {
  visibility: hidden;
  font-size: 14px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;

  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  right: 0px;
  bottom: 50px;
  z-index: 1000;
}

.info-btn:hover .tooltiptext {
  visibility: visible;
}

.manual-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 28px;
  background-color: #4e4e4e;
  padding: 10px 20px;
  height: 40px;
  margin: auto;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title img {
  width: 30px;
  padding-right: 10px;
}

.manual-container {
  border-radius: 5px;
  background: white;
  position: fixed;
  right: 20px;
  bottom: 10px;
  height: 500px;
  width: 450px;
  min-height: 200px;
  min-width: 250px;
  float: left;
  z-index: 10;
  resize: both;
  overflow: auto;
}

.manual-wrapper {
  text-align: center;
}

#draggable {
  cursor: move;
}

embed {
  height: calc(100% - 80px);
  width: 95%;
  padding-top: 10px;
}


.close {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #ba1f24;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  opacity: 1;
}

.close:focus, .close:hover {
  transform: rotateZ(90deg);
  background: #9e1116;
  opacity: 1;
}

.icon-cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 18px;
  height: 18px;
}


.icon-cross:before, .icon-cross:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  width: 18px;
  height: 2px;
  background: #FFFFFF;
  border-radius: 2px;
  opacity: 1;
}

.icon-cross:before {
  transform: rotate(45deg);
}

.icon-cross:after {
  transform: rotate(-45deg);
}
